.box-grocery-list {
    display: flex;
    justify-content: center;
}

.box-grocery-item {
    flex-direction: row;
    color: red;
}

.button-delete-grocery-item {
    flex-direction: column;
    color: red;
    margin-top: 15px;
    padding: 6px 12px;
    font-size: 12px;
}