.container-home {
    display: flex;
    justify-content: space-between;
}

.container-home div{
    border: 1px #ccc solid;
    padding: 10px;
    flex-basis: 25%;
    font-family: 'Bubbler One', sans-serif;
}

.container-bottom {
    display: flex;
    justify-content: space-between;
}

.container-bottom div{
    padding-top: 20px;
    flex-basis: 25%;
    margin: auto;
}

.box-1 {
    flex: 1;
}

.box-2 {
    flex: 1;
}

.box-3 {
    flex: 1;
}

.title-home {
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

p.title-category {
    margin-bottom: 20px;
}

p.title-category:hover {
    text-decoration: underline;
}

.box-4 {
    flex-direction: column;
    font-family: 'Bubbler One', sans-serif;
    font-size: 200%;
}

.link:hover {
    text-decoration: underline;
    /* color: #f1f1f1; */
    color: lightblue;
}

.box-5 {
    flex-direction: column;
    align-items: center;
    font-family: 'Bubbler One', sans-serif;
    font-size: 140%;
    margin-top: 15px;
    transition: ease-in-out;
}