.container-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
}

.container-home div{
    border: 1px #ccc solid;
    padding: 10px;
    margin: 2px;
    flex-basis: 33.33%;
    font-family: 'Bubbler One', sans-serif;
}

.container-bottom {
    padding-top: 20px;
    margin: auto;
}

.title-home {
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

.link:hover {
    color: white;
}

.box-quotes {
    flex-direction: column;
    align-items: center;
    font-family: 'Bubbler One', sans-serif;
    font-size: 140%;
    margin-top: 15px;
    transition: ease-in-out;
}

p.links {
    font-size: 40px;
}


@media (max-width: 700px) {
    .container-home {
        display: flex;
        flex-direction: column;
    }
    .landing-page-menu{
        order: 1;
    }
    .landing-page-recipe-book {
        order: 2;
    }
    .landing-page-grocery-list {
        order: 3;
    }
} 