.container-home {
    display: flex;
    /* display: inline; */
    justify-content: space-between;
}

.container-home div{
    border: 1px #ccc solid;
    padding: 10px;
    flex-basis: 25%;
    font-family: 'Bubbler One', sans-serif;
}

.container-bottom {
    padding-top: 20px;
    margin: auto;
}

.title-home {
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

.link:hover {
    color: white;
}

.box-quotes {
    flex-direction: column;
    align-items: center;
    font-family: 'Bubbler One', sans-serif;
    font-size: 140%;
    margin-top: 15px;
    transition: ease-in-out;
}

p.links {
    font-size: 40px;
}


@media only screen and (max-width: 640px) {
    .container-home {
        display: inline;
    }
    /* .landing-page-menu{
        visibility: hidden;
    }
    .landing-page-recipe-book {
        visibility: hidden;
    }
    .landing-page-grocery-list {
        visibility: hidden;
    } */
}