/* .nav_wrapper{
  width:100%;
  background-color: rgb(3, 247, 247); 
} */

.nav-bar {
  background-color: rgb(3, 247, 247); 
  width: 100%;
  overflow: hidden;
}

.logo {
  /* background-image: url(/logo.png); */
  float: left;
  width: 150px;
  height: 150px;
  margin: -20px 0px 5px 0px;
}

 /* ul */
.navbar-list {
    position: relative;
    overflow-x: hidden; 
    padding: 50px 0px 10px 10px;
    display: flex;
    justify-content: center;
    font-family: 'Bubbler One', sans-serif;
}

  .navbar-list a, .button-logout {
    padding: 6px 40px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    justify-content: center;
    font-size: 20px;
  }


.navbar-list a:hover, .button-logout:hover {
  color: white;
  transition: .5s;
}


.nav-list-items, .button-logout{
  background-color: #03f7f7; 
  font-family: 'Bubbler One', sans-serif;
}


.hamburger-button {
  font-size: 30px;
  color: #818181;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .hamburger-button {
    display: block;
  }
  
  .navbar-list {
    position: fixed;
    height: 80vh;
    background: beige !important;
    top: 120px;
    right: -110%;
    opacity: 0.9;
    text-align: center;
    transition: all .5s;
    z-index: 1000;
    padding-top: 10px;
  }

  .nav-bar, .navbar-list, .nav-list-items, .button-logout {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .nav-bar, .navbar-list, .nav-list-items, a, .button-logout {
    background: none;
    color:  #03f7f7;
  }
  .navbar-list a:hover {
    color: #03f7f7;
    transition: .5s;
  }
  #check:checked ~ ul {
    right: 0;
  }
}
