.navbar-list {
    position: relative;
    overflow-x: hidden; 
    padding: 20px 0px 10px 10px;
    display: flex;
}

.nav-list-items {
    background-color: rgb(3, 247, 247); 
}

  
  .navbar-list a {
    padding: 6px 40px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
  }
  
  .navbar-list a:hover {
    color: #f1f1f1;
  }
  