.form {
    flex-direction: row;
}

label {
    flex-basis: 10rem;
    flex-grow: 0;
    flex-shrink: 0;
}

input {
    flex-direction: column;
}


/* .box-category {
    display: flex;
}

.ingredient-list {
    flex-direction: column;
}

.button-delete {
    flex-direction: column;
} */
