/* @import url('fonts.googleapis.com/css?family=Dancing+Script&display=swap'); */

.menu-items {
    width: 80%;
    padding: 20px;
    margin: auto;
    text-align: center;
}

.your-menu {
    font-family: "Dancing Script";
}

.category-text {
    transition: all .2s ease-in-out;
}

.category-text:hover {
    transform: scale(1.05);
    /* color: #ffffff; */
    color: lightblue;
} 