/* @import url('fonts.googleapis.com/css?family=Dancing+Script&display=swap'); */

.menu-items {
    width: 80%;
    padding: 20px;
    margin: auto;
    text-align: center;
}

a {
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Dancing Script";
}

.your-menu {
    font-family: "Dancing Script";
}

#categories-text {
    text-transform: uppercase;
    transition: all .2s ease-in-out;
}

#categories-text:hover {
    transform: scale(1.05);
    color: #f1f1f1;
} 