
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar-list {
  height: 15%;
  width: 90px; 
  position: relative; 
  top: 0; 
  left: 0;
  background-color: rgb(3, 247, 247); 
  overflow-x: hidden; 
  padding-top: 20px;
  padding-left: 10px;
}

.sidebar-list a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: inline-block;
}

.sidebar-list a:hover {
  color: #f1f1f1;
}

.main {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 80%;
  background-color: beige;
  padding: 20px;
  margin: auto;
  border-radius: 15px;
  /* position: fixed;  */
  overflow: scroll;
}

p {
  margin: auto;
  text-align: center;
}