body {
  background-image: url(/menu-background.jpg);
  background-size: cover;
  margin: auto;
  box-shadow: 0px 0px 10px 2px;
}
 
main {
  font-family: "Dancing Script";
  flex-basis: 80%;
  background-color: beige;
  opacity: 0.7;
  padding: 20px;
  margin: auto;
  border-radius: 15px;
  overflow: scroll;
  width: 80%;
  margin: auto;
  text-align: center;
  transition: all .2s ease-in-out;
}

p {
  margin: auto;
  text-align: center;
}

button {
  color: black;
  background-color: beige;
  font-family: 'Bubbler One', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  box-shadow: 1px 3px;
}

button:hover {
  color: rgb(0, 255, 255);
  background-color: white;
  transition: .3s;
}

a {
  color: rgb(50, 255, 228);
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Dancing Script";
}

a:hover {
  color:#ffffff;
  transform: scale(1.2);
}