body {
  background-image: url(/menu-background.jpg);
  background-size: cover;
  margin: auto;
  box-shadow: 0px 0px 10px 2px;
}
 
main {
  font-family: 'Bubbler One', sans-serif;
  flex-basis: 80%;
  background-color: beige;
  padding: 20px;
  margin: auto;
  border-radius: 15px;
  overflow: scroll;
  width: 80%;
  margin: auto;
  text-align: center;
  transition: all .2s ease-in-out;
}

main:hover {
  transform: scale(1.05);

}

p {
  margin: auto;
  text-align: center;
}

button {
  color: rgb(0, 255, 255);
  background-color: beige;
  font-family: 'Bubbler One', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  box-shadow: 1px 3px;
}

button:hover {
  background-color: white;
  transition: .3s;
}
